*{
  box-sizing: border-box;
  margin: 0;
}

/* Header */

ul.topNav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #ff9900;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.topNav li{
  float:left;
}

ul.topNav li a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px 0px 16px;
  text-decoration: none;
}

ul.topNav  li a:hover{
  background-color: #ff0000;
}

.active{
  background-color: #4CAF50;
}

.topNav img{
  height: 40px;
  background-repeat:
}


aside{
  margin-bottom: 60px;
}

ul.profileNav{
  list-style-type: none;
  margin-left: 0;
  float: right;
}

ul.profileNav li{
  display: inline;
}

.profilePic{
  height: 40px;
}

ul.buttonNav{
  list-style-type: none;
  margin-left: 0;
  /* display: inline-block; */
}

ul.buttonNav li{
  display: inline;
  float: right;
}

ul.buttonNav  button{
  width: 120%;
}

ul.pictureNav{
  list-style-type: none;
  margin-left: 0;
  padding: 30px;
}

.buttonImg{
  margin-right: 5px;
}

.buttonList{
  height:25px;
  background: #DCDCDC;
  color:#000000;
  border-width: 1px;
  border-color: #ff9900;
  font-size: 20px;
  margin: 10px 0 0 0;
  border-radius: 5px;
}

.buttonListStyle{
  margin-right: 20px;
}

#albumCover{
  margin-left: 0;
  margin-bottom: 20px;
}

#rightNav{
  height: 30px;
  padding: 3px;
  margin: 8px 10px;
  position: sticky;
}

/* #pointer{
  weight: px;
  padding: 3px;
  margin: 8px 10px;
} */

.topNav input{
  height: 30px;
  margin: 8px 10px;
  font-size: 150%;
  border-width: 3px;
  border-color: #000000;
  background: #e6e6e6;
}

.topNav input placeholder{
  color: #ff9900;
}

.rightfloat{
  float:right;
}

.roundedCorners img{
  border-radius: 30px;
  height: 35px;
  margin: 8px 10px;
}

#arrow{
  margin: 1px 10px;
  font-size: 30px;
}

.buttonUpload{
  height:70px;
  background:#e6e6e6;
  padding-left: 20px;
  padding-right:20px;
  color:#000000;
  border-width: 3px;
  border-color: #ff9900;
  font-size: 20px;
  width: 90%;
  margin: 40px 20px 40px 20px;
  border-radius: 15px;
}

.buttonUpload img{
  padding-right: 10px;
}

.buttonPro{
  height:35px;
  background:#e6e6e6;
  padding-left: 20px;
  padding-right:20px;
  color:#000000;
  border-width: 3px;
  border-color: #ff9900;
  font-size: 20px;
  width: 40%;
  margin: 40px 20px 40px 20px;
  border-radius: 10px;
}

.main{
  margin-top: 50px;
  width: 50%;
  float: left;
  margin-bottom: 100px;
}

.albumSection{
  margin: 30px;
  margin-left: 0;
  margin-bottom: 100px;
}

.flex-column{
  flex-direction: column;
}

.detailsSection{
  width: 100%;
}

.leftNav{
  float: left;
  width: 22%;
  background-color: #ffffff;
  margin-top: 50px;
}

.songDetails{
  display: inline;
  position: absolute;
  /* padding-left: 250px; */
  right: 30%;
  /* flex-direction: */
}

.genre{
  /* display: inline; */
  height:35px;
  background:#e6e6e6;
  padding: 0 10px 0 10px;
  color:#000000;
  border-width: 1px;
  border-color: #000000;
  font-size: 20px;
  width: 12%;
  margin: 10px;
  border-radius: 10px;
  position: absolute;
  right: 30%;
}

/* right NAV */

.rightNav{
  width: 25%;
  float: right;
  background-color: #ffffff;
  margin-top: 50px;
}

.rightNav h2{
  font-family: Georgia, Times, serif;
  padding: 0px 20px 20px 20px;
  color: #ff9900;
}

.containerNav{
  border-width:  0px 3px 3px 3px;
  border-style: solid;
  border-color: #8c8c8c;
}

/* .containerNav span{
  padding: 0px 180px;
} */

.verticalNav h3{
  font-family: Verdana, sans-serif;
  padding: 10px 10px 10px 20px;
  color: #ff9900;
}

.verticalNav h4{
  font-family: Verdana, sans-serif;
  padding: 10px 10px 10px 20px;
}

.verticalNav p{
  padding: 10px 10px 10px 20px;
}

.friendsList{
  list-style-type: none;
  text-decoration: none;
}

#imageFriends{
  padding: 10px;
  margin: 8px 10px;
  border-width:3px;
  border-color: #ff9900;
  /* display: inline; */
}

.friendsList{
  display:inline;
}

/* .friendsList button{
  display: inline;
} */

.friendsList h3{
  /* display: inline; */
  color: #000000;
}

.profileList {
  /* display: flex;
  justify-content: flex-start; */
  margin-left: 10px;
  display: inline;
  position: absolute;
  /* padding-left: 250px; */
  right: 3%;
  /* flex-direction: */
}

.addFriendList{
  display: flex;
  justify-content: space-around;
}

.profileList h3{
  margin-top: 5px;

}

.containerNav h3 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.containerNav p  {
  margin-left: 10px;
}

.sectionList{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.custombtn {
  padding: 10px;
  background-color: #e6e6e6;
  border-radius: 6px;
  cursor: pointer;
  height: 50px;
  margin-top: 30px;
}

#musicGIF{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#signInLinks{
  width: 70%;
  background-color: #000000;
  padding: 50px;
  margin: auto;
}

#signInLists{
  text-decoration: none;
}

#aboutImage{
  /* background-color: #000000; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul.signInLIsts li{
  display: inline-block;
}

ul.signInLIsts{
  float: left;
}

/* footer */
ul.bottomNav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #e6e6e6;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul.bottomNav li{
  float:left;
}

ul.bottomNav li a{
  display:block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.playbackIcon{
  margin: 10px 5px;
  font-size: 30px;
}

.progressSection{
  width: 650px;
  height: 5px;
  background-color: #000000;
  margin: 35px 20px 20px 20px;
}

.endSection{
  width: 100%;
  height: 3px;
  background-color: #000000;
  /* margin: 35px 20px 20px 20px 20px; */
  margin-top: 50px;
}

#progressBar{
    width: 650px;
    height: 5px;
    background-color: #000000;
    margin: 27px 20px 20px 20px;
}

#progressColor{
  background-color: #ff9900;
  width: 280px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.imageIcon{
  padding: 10px;
  margin: 8px 10px;
  border-width:3px;
}

#pauseIcon{
  margin: 8px 1px 4px 1px;
}

ul.buttomNav li p{
  font-size: 10px;
  margin: 50px 10px;
  padding: 20px;
}

#bottomText{
  margin: 20px 5px 20px 5px;
}

#volumeIcon{
  padding: 10px;
  margin: 8px 1px 8px 10px;
  border-width: 3px;
}

#volumeBar{
    width: 70px;
    height: 5px;
    background-color: #000000;
    margin: 27px 20px 20px 1px;
}

#volumeColor{
  background-color: #ff9900;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#currentPlay{
  margin: 20px 10px;
}

#currentPlay h3, h4{
  color: #000000;
}

/* width 1100 */
@media screen and (max-width: 1100px){
  aside.rightNav {
    display:none;
  }

  div.main{
    width: 60%;
  }
}
